title: "Js2coffee: convert JavaScript code to CoffeeScript"
---
- content_for :head do
  != style_tag 'css/style.css'

%nav#tabs
  %ul
    %li
      %a.js2coffee.active{:href => "#js2coffee"}!= "JS &rarr; Coffee"
    %li
      %a.coffee2js{:href => "#coffee2js"}!= "Coffee &rarr; JS"

#editors
  %form#js2coffee
    .error.hide#js2coffee_error
    %pre.editor.left#js2coffee_editor
    %pre.output.right#js2coffee_output

  %form#coffee2js.hide
    .error.hide#coffee2js_error
    %pre.editor.left#coffee2js_editor
    %pre.output.right#coffee2js_output

%p.more-info
  %a{href: "#info"}!= "More info &darr;"

%a.github{href: "http://github.com/rstacruz/js2coffee"} Fork me on GitHub

%section#info
  %h2
    Js2coffee

  .logo
    %img{src: '/images/logo.gif', style: 'width: 198px; height: 197px;'}

  %article
    .c
      :markdown
        ### Information
        Js2coffee helps you migrate projects to
        [CoffeeScript](http://www.coffeescript.org) by compiling your
        JavaScript code into CoffeeScript.

        Js2coffee is a project of [Rico Sta Cruz](http://ricostacruz.com).
        The source code is available over at [GitHub](http://github.com/rstacruz/js2coffee).

        ### Local usage
        Js2coffee is also available as a NodeJS module.

            $ npm install js2coffee
            $ js2coffee file.js > file.coffee

        ### Reporting issues
        Please report any issues you find over to the [Js2coffee issue tracker](http://github.com/rstacruz/js2coffee/issues).
        As a courtesy to everyone, be sure to check if your problem has already been reported.

  -# %article
  -#   .c
  -#     %h2 Caveats
  -#     %p Please take note of a few inconsistencies that may happen during conversion.
  -#   
  -#     %ul
  -#       %li
  -#         :markdown
  -#           #### `==` in CoffeeScript is `===` in JavaScript
  -#           There is no way to emulate the `==` behavior in CoffeeScript. As such, consider
  -#           all equality checks to be strict.
  -#   
  -#       %li
  -#         :markdown
  -#           #### Labels are not supported in CoffeeScript
  -#           Code like `function() { test1: ... }` will not compile.

%script{type: 'text/javascript', charset: 'utf-8', src: 'https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js'}
%script{type: 'text/javascript', charset: 'utf-8', src: 'http://ajax.cdnjs.com/ajax/libs/underscore.js/1.1.5/underscore-min.js'}

!= script_tag 'scripts/coffeescript.min.js'
!= script_tag 'scripts/js2coffee.min.js'
!= script_tag 'scripts/ace/ace.js'
!= script_tag 'scripts/ace/mode-coffee.js'
!= script_tag 'scripts/ace/mode-javascript.js'
!= script_tag 'scripts/ace/theme-clouds.js'
!= script_tag 'scripts/script.js'

!= "<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>"
